################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task-27-1-2024/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Task-27-1-2024/obj/Debug/Task-27-1-2024.csproj.CoreCompileInputs.cache
/Task-27-1-2024/obj/Debug/Task-27-1-2024.dll
/Task-27-1-2024/obj/Debug/Task-27-1-2024.pdb
/Task-27-1-2024/bin/Task-27-1-2024.dll
/Task-27-1-2024/bin/Task-27-1-2024.pdb
/.vs/Task-27-1-2024/FileContentIndex/9c629f4e-05c2-49ea-bf00-a551557dc97c.vsidx
/.vs/Task-27-1-2024/FileContentIndex/cdfe2481-f828-430a-b956-c071aa0c0c2e.vsidx
/.vs/Task-27-1-2024/FileContentIndex/d9a11688-22b2-4d7c-8449-0ba1cb166e5a.vsidx
/.vs/Task-27-1-2024/FileContentIndex/561d86cf-21ab-4cc2-9f21-fd509b7ccb44.vsidx
/.vs/Task-27-1-2024/FileContentIndex/69aa05cd-d307-4e76-a276-3fc1b7e524a3.vsidx
